/* Add a black background color to the top navigation */
.topnav {
    background-color: #000000;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: "Source Code Pro", sans-serif;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #DC602E;
    color: white;
  }

*{
    margin: 0;
    padding: 0;
}
body{
    background: #05a8aa;
    font-size: 14px;
    font-family: 'Source Code Pro', sans-serif;
}
.container{
    width: 80%;
    margin: 50px auto;
}

.contact-box{
    background: #fff;
    display: flex;
}
.contact-left{
    flex-basis: 60%;
    padding: 40px ;
}
.contact-right{
    flex-basis: 40%;
    padding: 40px;
    background: #DC602E;
    color: #fff;
}
h1{
    margin-bottom: 10px;
}
.container p{
    margin-bottom: 40px;
}

.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-row .input-group{
    flex-basis: 45%;
}

input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
}

textarea{
    width: 100%;
    outline: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}

label{
    margin-bottom: 6px;
    display: block;
    color: #DC602E;
}

button{
    background: #DC602E;
    width: 100px;
    border: none;
    outline: none;
    color: #fff;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
}

.contact-left h3{
    color: #DC602E;
    font-weight: 600;
    margin-bottom: 30px;
}

.contact-right h3{
    font-weight: 600;
    margin-bottom: 30px;
}

tr td:first-child{
    padding-right: 20px;
}
tr td{
    padding-top: 20px;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
  }
  
  .social-media a {
    margin: 0 1em;
    font-size: 2em;
    color: #fdfdfd9f;
    text-decoration: none;
  }
  
  .social-media a:hover {
    color:black;
  }